body {
    background-image: url("Angry_skelly.jpg");
    background-size: cover;
    font-family: Roboto, -apple-system,  'Segoe UI',   Ubuntu, Cantarell, 'Open Sans',  sans-serif;
    font-weight: bold;
    text-align: center;
    color: antiquewhite;
        -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: black;
    min-height: 96vh;
}

.container {
    background-color: rgba(0, 0, 0, 0.7);
    max-width: 80%;
    margin: auto;
    border: 3px solid black;
    border-radius: 10px;
}

h1 {
    margin-top: 10px;
    margin-bottom: 10px;
            -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: cornflowerblue;
}

h2 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
            -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: cornflowerblue;
}

button {
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
}

#increment-btn {
    background-image: url("lightning.jpg");
    background-size: cover;
    border: solid 1px blue;
    color: white;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 1px;
    font-weight: bolder;
    
}

#save-btn {
    background-image: url("Fire.jpg");
    background-size: 70px;
    border: solid 1px red;
    -webkit-text-stroke: 0px;
    font-weight: bolder;
}

#save-el {
    font-weight: bolder;
}
